body {
  background: #718F94 !important;
  font-family: sans-serif;
}

label {
  color: #545775;
  font-weight: bold;
  text-align: center;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #90B494 !important;
    border-color: #90B494;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.wrapper {
	margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
