body {
  background: #718F94 !important;
  font-family: sans-serif;
}

label {
  color: #545775;
  font-weight: bold;
  text-align: center;

}

img {
  max-height: 100%;
    max-width: 100%;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #90B494 !important;
    border-color: #90B494;
}
h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
h3 .desc{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
div.scroll {
  overflow: scroll;
}
div.col-6{
  margin-top: 10px;
  padding: 20px;
}
div.col-5{
  padding: 15px;
  padding-top: 10%;
  width: 90%;
  text-align: center;
}
div.scroll{
  border: 1px solid #90B494;
}
div.popup{
  margin: 1px;
  border: 1px solid #90B494;
  padding: 2px;
  text-align: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
div.scroll {
  overflow: scroll;
}
.w3-modal{
  z-index:3;display:none;
  padding-top:100px;
  position:fixed;left:0;
  top:0;width:100%;
  height: auto;
  max-height: calc(100vh - 210px);
  overflow-y:auto;
  overflow-x: hidden;
}

.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
